version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docusaurus:
        patterns:
          - "@docusaurus/*"
          - "@mdx-js/*"
      react:
        patterns:
          - "react"
          - "react-dom"
